---
import { Button } from "@/components/starwind/button";
import { Image } from "astro:assets";
import {
    Card,
    CardAction,
    CardDescription,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/starwind/card";
import {
    Carousel,
    CarouselContent,
    CarouselItem,
    CarouselNext,
    CarouselPrevious,
} from "@/components/starwind/carousel";

import GuildImage from "@/content/projects/guild.png";
import CraneImage from "@/content/projects/crane.png";

import { SquareArrowRight, Rocket, FolderGit2 } from "@lucide/astro";

import { getCollection } from "astro:content";

const projects = (
    await getCollection("projects", ({ data }) => !data.draft)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<section
    id="projects"
    class="flex items-center justify-center gap-4 mt-24 mb-24"
>
    <div class="w-full max-w-7xl space-y-12">
        <h1
            class="flex items-center justify-center text-3xl font-bold text-center gap-3"
        >
            <FolderGit2 class="h-6 w-6" /> My Projects
        </h1>
        <Carousel opts={{ align: "start" }} class="mx-auto w-full max-w-5xl">
            <CarouselContent>
                {
                    projects.map((project, index) => (
                        <CarouselItem class="xs:basis-1 sm:basis-1/2 md:basis-1/2">
                            <div class="h-full p-1">
                                <Card class="mx-8 md:mx-0 h-full flex flex-col bg-gray-100">
                                    <Image
                                        src={project.data.img}
                                        alt={project.data.imgAlt}
                                        class="aspect-video w-full object-cover"
                                    />
                                    <CardHeader>
                                        <CardTitle class="text-3xl font-bold mt-4">
                                            {project.data.name}
                                        </CardTitle>
                                    </CardHeader>
                                    <CardContent class="flex-1 p-6">
                                        <span>{project.data.description}</span>
                                    </CardContent>
                                    <CardFooter class="flex justify-center items-center bg-black gap-4">
                                        <a
                                            href={`projects/${project.id}`}
                                            target="_blank"
                                        >
                                            <Button class="bg-black text-white border border-white hover:bg-white hover:text-black">
                                                <SquareArrowRight />
                                                Details
                                            </Button>
                                        </a>

                                        {project.data.demo && (
                                            <a
                                                href={project.data.demo_url}
                                                target="_blank"
                                            >
                                                <Button class="bg-green-400 text-black border border-black hover:bg-white hover:text-black">
                                                    <Rocket />
                                                    Live Demo
                                                </Button>
                                            </a>
                                        )}
                                    </CardFooter>
                                </Card>
                            </div>
                        </CarouselItem>
                    ))
                }
            </CarouselContent>
            <CarouselPrevious class="hidden md:inline-flex" />
            <CarouselNext class="hidden md:inline-flex" />
        </Carousel>
    </div>
</section>
