---
import { Button } from "@/components/starwind/button";
import { Badge } from "@/components/starwind/badge";
import { Image } from "astro:assets";
import {
    Card,
    CardAction,
    CardDescription,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/starwind/card";
import {
    Carousel,
    CarouselContent,
    CarouselItem,
    CarouselNext,
    CarouselPrevious,
} from "@/components/starwind/carousel";

import GuildImage from "@/content/projects/guild.png";
import CraneImage from "@/content/projects/crane.png";

const projects = [
    {
        name: "Warcraft Guild",
        img: GuildImage,
        description:
            "A guild website for an online gaming community. Built with Astro + Tailwind and fetches character data daily from the Raider.IO API through a GitHub Actions workflow.",
        demo_url: "https://guild-demo.venditto.dev",
    },
    {
        name: "In Development",
        img: CraneImage,
        description:
            "I'm currently working on new projects. Check back periodically to see my progress.",
        demo_url: "#",
    },
];
---

<section id="projects" class="flex items-center justify-center gap-4">
    <Carousel opts={{ align: "start" }} class="mx-auto w-full max-w-5xl">
        <CarouselContent>
            {
                projects.map((project, index) => (
                    <CarouselItem class="md:basis-1/2">
                        <div class="h-full p-1">
                            <Card class="h-full flex flex-col">
                                <Image
                                    src={project.img}
                                    alt={project.name}
                                    class="aspect-video w-full object-cover"
                                />
                                <CardHeader>
                                    <CardTitle>{project.name}</CardTitle>
                                </CardHeader>
                                <CardContent class="flex-1 p-6">
                                    <span>{project.description}</span>
                                </CardContent>
                                <CardFooter class="flex justify-center">
                                    <CardAction>
                                        <a
                                            href={project.demo_url}
                                            target="_blank"
                                        >
                                            <Button class="bg-white text-black border border-black hover:bg-black hover:text-white">
                                                View Project
                                            </Button>
                                        </a>
                                    </CardAction>
                                </CardFooter>
                            </Card>
                        </div>
                    </CarouselItem>
                ))
            }
        </CarouselContent>
        <CarouselPrevious class="hidden md:inline-flex" />
        <CarouselNext class="hidden md:inline-flex" />
    </Carousel>
</section>
